<div>

<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">

<label for="name">Name:</label> 
    <input type="text" name="Title"/>
</label>

<label for="propellerrs">Propellers:</label>
 <input type="number" name="propellers"/>

 <label for="max-Speed">Max Speed:</label>
 <input type="number" name="max-speed"/>

</label>

<button type="submit">Create</button>

</form>
</div>


